<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>PotatoLive @ViewBag.PageName</title>
    <link rel="icon" href="https://plive.azurewebsites.net/img/pliveicon.png" sizes="50x50">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>-->

    @RenderSection("AdditionalMetaData", false)

    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")"
          rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")

</head>
<body ng-app="rndApp">
    <!--start: Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="https://plive.azurewebsites.net/img/logo.png" alt="PotatoLive" style="height: 50px;" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>*@
                <ul class="nav navbar-nav navbar-right" style="margin-top:10px; ">
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <text>
                                <span class="btn btn-danger"> Hello, @User.Identity.Name! </span>
                            </text>
                        }
                        @*else
                            {
                                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            }*@

                    </li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <text>
                                <span class="btn btn-info pull-right" style="margin-left: 20px">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                    }
                                </span>

                            </text>
                        }
                    </li>
                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </nav>


    <div class="container margintop40">
        <section class="mainContent">
            @RenderBody()
        </section>
    </div>

    @*<div id="under-footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="span2">
                        <div id="under-footer-logo">
                            <a class="brand" href="#">Potato Live</a>
                        </div>
                    </div>
                    <div class="span9">
                        <div id="under-footer-copyright">
                            © @DateTime.Now.Year, Developed by Bambaram
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


        @Scripts.Render("~/bundles/jquery")
        <a href="~/Views/Shared/_AngularLayout.cshtml">~/Views/Shared/_AngularLayout.cshtml</a>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/angular")
    <script src=@Url.Content("~/Scripts/ui-bootstrap-tpls-0.10.0.min.js") type="text/javascript"></script>
    @{  //Scripts.Render("~/AngularResources");
    }
    <script src=@Url.Content("~/Resources/app.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Resources/controllers.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Resources/directives.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Resources/filters.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Resources/services.js") type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src=@Url.Content("~/Scripts/Site/jquery.isotope.min.js") type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryDependents")
</body>
</html>
